facenet-pytorch==2.5.2
matplotlib==3.6.0
numpy==1.23.3
opencv-python==4.6.0.66
Pillow==9.2.0
PyYAML==6.0
scikit-image==0.19.3
scipy==1.9.1
seaborn==0.12.0
streamlit==1.13.0
streamlit-webrtc==0.43.4
thop==0.1.1.post2209072238
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
